<div class="container">
  <% if @s == nil %>
  	<br/><br/><p>You have no charts licensed to you.  Please browse through our collection!</p>
  <% else %>
	  <h1>Here are the charts that you own:</h1>
	  <% @s.each do |x| %>
	  	<% v = Sheet.first(:id => x) %>
	    <h3><%= v.title.to_s %></h3>
	    <%= v.description %><br/><br/>
	  <% end %>
   <% end %>
</div>
