<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container">
     <p>
	Put user music files and maybe recommendations here!
     </p>
</div>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Hello, Musicians!</h1>
      <p>This is the staring point to our online music sheet site.</p>
      <p><a class="btn btn-primary btn-lg" href="/storeroom" role="button">Owned music</a></p>
      <p><a class="btn btn-primary btn-lg" href="/finder" role="button">Find music</a></p>
   </div> <!-- /container -->
    </div>
  </div>
