<style type="text/css" scoped>
  .jumbotron-sheet {
    padding: 12em 0em;
    margin-bottom: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/index-bg.jpg");
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
  }

  .my-4-sheet {
    border-color: white;
  }

  .media{
    padding: 0.5em 0em;
  }
</style>

<div id="thing" class="jumbotron jumbotron-sheet">
  <div class="container">
    <h1 class="display-1">Music Sheet</h1>
    <p class="lead">Find music you never knew you wanted to play</p>
  </div>
</div>

<div class="norm">
  <div class="container">
    <p style="padding: 2em 0em 0em 0em">
      Music Sheet provides a way for Musicians and Composers to work closer
      together, skipping the middle man. Upload you composition here, buy
      new music and support your favorite composer here!
    </p>

    <div class="media">
      <div class="media-body">
        <h5 class="mt-0">Find the latest compositions</h5>
        Find the latest music as soon as they are finished! With Music Sheet,
        you don't have to wait weeks for delivery!
      </div>
    </div>

    <div class="media">
      <div class="media-body">
        <h5 class="mt-0">Cost Efficient Music Production</h5>
        Making an impact as a new composer is always rather difficult. With Music
        Sheet, you only get charged for what you sell!
      </div>
    </div>

    <div class="media">
      <div class="media-body">
        <h5 class="mt-0">Blah blah blah</h5>
        Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
        blah blah, blah blah blah blah blah blah!
      </div>
    </div>
  </div>
</div>
