<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container" >
    <div class="p-3 mb-2 bg-warning text-dark">.bg-warning
    <h1 class="display-3">Hello, Musicians!</h1>
      <p>This is the staring point to our online music sheet site.</p>
      <p><a class="btn btn-primary btn-lg" href="/manage" role="button">Manage Music</a></p>
      <p><a class="btn btn-primary btn-lg" href="/Seller_history" role="button">Seller History</a></p>
      <p><a class="btn btn-primary btn-lg" href="/upload_music" role="button">Upload Music</a></p>
   </div> <!-- /container -->
    </div>
  </div>
</div>
