<div class="container" >
  <h1>Here's the charts you have uploaded!</h1>
  <% @s.each do |s| %>
    <h3><%= s.title %></h3>
    <%= s.description %><br/>
    <%= s.created_at.to_s %><br/><br/>
  <% end %>
</div>
